.login-container {
    display: flex;
    justify-content: center;
    background: whitesmoke;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-input {
    width: 100%;
    outline: none;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .otp-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .otp-input {
    width: 20%;
    outline: none;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  .login-button {
    width: 100%;
    background: #000;
    color: white;
    border-radius: 10px;
    padding: 9px;
    cursor: pointer;
    border: none;
  }
  
  .login-button:hover {
    background: #2e2e2e;
    color: #fff;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }
  