
body{
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #000000;
    color: #fff;
    height: 60px;
  }
  
  .navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar__links {
    display: flex;
    gap: 20px;
  }
  
  .navbar__links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navbar__links a:hover {
    color: #ddd;
  }
  
  .navbar__links a img,
  .navbar__links a i {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
  }
  